#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#header1-1 H1 {
  text-align: left;
  font-size: 36px;
}
#msg-box2-4 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-4 .mbr-article {
  color: #252525;
}
#slider2-3 H1 {
  text-align: right;
  font-size: 32px;
}
#header3-5 H3 {
  text-align: center;
  font-size: 30px;
}
#content5-b .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-b .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-b .mbr-article {
  color: #fff;
}
#header3-d H3 {
  font-size: 20px;
}
#header3-d P {
  font-size: 16px;
}
#header3-j H3 {
  font-size: 20px;
}
#header3-j SPAN {
  font-size: 16px;
}
#ext_menu-k .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-k.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-k .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-k .mbr-navbar__hamburger {
  color: #ffffff;
}
#header3-m H3 {
  text-align: center;
}
#header3-19 H3 {
  text-align: center;
}
#gallery2-10 SMALL {
  text-align: center;
}
#ext_menu-p .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-p.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-p .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-p .mbr-navbar__hamburger {
  color: #ffffff;
}
#header3-r H3 {
  text-align: center;
}
#header3-x P {
  color: #d14841;
  font-size: 17px;
  text-align: center;
}
#header3-x H3 {
  text-align: center;
}
#header3-y H3 {
  text-align: center;
}
#slider-v P {
  text-align: left;
}
#slider-v H1 {
  text-align: left;
}
#ext_menu-11 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-11.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-11 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-11 .mbr-navbar__hamburger {
  color: #ffffff;
}
#header1-18 H1 {
  text-align: right;
}
